{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver", 
      {
        "alias": {
          "@src": "./src",
          "@apis": "./src/apis",
          "@utils": "./src/utils",
          "@screens": "./src/screens"
        },
        "exclude": ["node_modules"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
